{% extends "base.html" %}
{% block title %}
    Data Show
{% endblock title %}

{% block CSS %}

    <style>

        h1 {
            background: #00a7d0;
        }


    </style>
{% endblock CSS %}


{% block main %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='datatables.net-bs/css/dataTables.bootstrap.min.css') }}">


    <section class="panel">
    <div><h2>12345678</h2></div>

    </section>
    <script type="text/javascript"
            src="{{ url_for('static', filename='datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/echarts.min.js') }}"></script>


    <script type="text/javascript">

    </script>


{% endblock main %}


